

// 全局设置
$fontFamily:'微软雅黑';
$fontFamily2:'宋体';

$mainWidth:85%;
$mainBgColor:#fff;

$globalThemeMainColor:#337AB7;
$globalBackgroundColor:#F5F5F5;
$wordTitleColor:#286090;

/* 例如返回div的颜色 */
$tipColor:#9d9d9d;