#allmap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.bdmap-top{
	position: absolute;
	top: 0;
	right: 5px;
	font-size: 1.6rem;
	z-index: 99999;
}
.bdmap-top .close-bdmap:hover{
	cursor: pointer;
	color: #337AB7;
}